<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>修改密码</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="/favicon.ico">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="//g.alicdn.com/sui-mobile/sm/0.5.0/css/sm.min.css">
		<link rel="stylesheet" href="//g.alicdn.com/sui-mobile/sm/0.5.0/css/sm-extend.min.css">

		<link rel="stylesheet" href="/stylesheets/base.css">
	</head>

	<body>
		<!-- 你的html代码 -->

		<div class="page">

			<header class="bar bar-nav">
				<a class="icon icon-left pull-left user-editPwd-back"></a>
				<h1 class='title'>修改密码</h1>
			</header>
			<div class="content">
				<div class="list-block">
					<ul>
						<!-- Text inputs -->
						<li>
							<div class="item-content">
								<div class="item-media"><i class="icon icon-form-password"></i></div>
								<div class="item-inner">
									<div class="item-input">
										<input type="password" id="oldPwd" data-uid=<%=uid %> placeholder="请输入原密码">
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media"><i class="icon icon-form-password"></i></div>
								<div class="item-inner">
									<div class="item-input">
										<input type="password" id="editPwd" placeholder="请输入新密码" >
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media"><i class="icon icon-form-password"></i></div>
								<div class="item-inner">
									<div class="item-input">
										<input type="password" id="editPwdRep" placeholder="请再次输入新密码" >
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="content-block">
					<div class="row">
						<div class="col-100"><a href="#" class="button button-big button-fill button-success" id="bt-changePwd">保存</a></div>
					</div>
				</div>
			</div>
		</div>

		<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='//g.alicdn.com/sui-mobile/sm/0.5.0/js/sm.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='//g.alicdn.com/sui-mobile/sm/0.5.0/js/sm-extend.min.js' charset='utf-8'></script>
		<script src="//libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="/javascripts/crypto-js.js"></script>
		<script src="/javascripts/login.js"></script>
	</body>

</html>