<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>
			<%= title %>
		</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="/favicon.ico">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="//g.alicdn.com/sui-mobile/sm/0.5.0/css/sm.min.css">
		<link rel="stylesheet" href="//g.alicdn.com/sui-mobile/sm/0.5.0/css/sm-extend.min.css">
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<link rel="stylesheet" href="/stylesheets/base.css">
	</head>

	<body>
		<!-- 你的html代码 -->

		<div class="page">

			<header class="bar bar-nav">
				<h1 class='title js-home-title'><%= user.userName %>,你好</h1>
			</header>
			<div class="content">
				<!-- Slider -->
				<div class="swiper-container" data-space-between='10'>
					<div class="swiper-wrapper">
						<div class="swiper-slide"><img src="images/bg-1.png" alt="第一张"></div>
						<div class="swiper-slide"><img src="images/bg-2.png" alt="第2张"></div>
						<div class="swiper-slide"><img src="images/bg-3.png" alt="第3张"></div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
				<ul class="content-ul">
					<li class="con-li">
						<a href="#" class="js-user-search"><span class="fa fa-search"></span>
							<div class="con-li-text">查找用户</div>
						</a>
					</li>
					<li class="con-li">
						<a href="#"><span class="fa fa-pencil-square-o"></span>
							<div class="con-li-text">修改密码</div>
						</a>
					</li>
					<li class="con-li">
						<a href="#"><span class="fa fa-search"></span>
							<div class="con-li-text">查找用户</div>
						</a>
					</li>
					<li class="con-li">
						<a href="#"><span class="fa fa-search"></span>
							<div class="con-li-text">查找用户</div>
						</a>
					</li>
					<li class="con-li">
						<a href="#"><span class="fa fa-search"></span>
							<div class="con-li-text">查找用户</div>
						</a>
					</li>
					<li class="con-li">
						<a href="#" class="js-exit"><span class="fa fa-sign-out"></span>
							<div class="con-li-text">退出</div>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='//g.alicdn.com/sui-mobile/sm/0.5.0/js/sm.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='//g.alicdn.com/sui-mobile/sm/0.5.0/js/sm-extend.min.js' charset='utf-8'></script>
		<script src="//libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="/javascripts/home.js"></script>
	</body>

</html>