<!DOCTYPE html>
<html>

	<head>
		<title>
			<%= title %>
		</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>

	<body>
		<label for="userName">用户名:</label>
		<input type="text" name="userName" id="userName" value="" />
		<label for="password">密码:</label>
		<input type="password" name="password" id="password" value="" />
		<input type="button" id="bt-login" value="登陆" />
		<span class="result"></span>
		<script src="//libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="/javascripts/login.js"></script>
		<script src="/javascripts/crypto-js.js"></script>
	</body>

</html>