<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>用户列表</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="/favicon.ico">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="//g.alicdn.com/sui-mobile/sm/0.5.0/css/sm.min.css">
		<link rel="stylesheet" href="//g.alicdn.com/sui-mobile/sm/0.5.0/css/sm-extend.min.css">

		<link rel="stylesheet" href="/stylesheets/base.css">
	</head>

	<body>
		<div class="page">

			<header class="bar bar-nav">
				<h1 class='title'>用户列表</h1>
			</header>
			<div class="bar bar-header-secondary">
				<div class="searchbar">
					<a class="searchbar-cancel">取消</a>
					<div class="search-input">
						<label class="icon icon-search" for="search"></label>
						<input type="search" id='search' placeholder='输入关键字...' />
					</div>
				</div>
			</div>
			<div class="content">
				<div class="list-block">
					<ul>
						<% for(var i=0; i<user.length; i++) { %>
							<li class="item-content  item-link">
								<div class="item-media"></div>
								<div class="item-inner">
									<div class="item-title">用户名</div>
									<div class="item-after">
										<%= user[i].userName %>
									</div>
								</div>
							</li>
							<% } %>
					</ul>
				</div>
			</div>
		</div>

		<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='//g.alicdn.com/sui-mobile/sm/0.5.0/js/sm.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='//g.alicdn.com/sui-mobile/sm/0.5.0/js/sm-extend.min.js' charset='utf-8'></script>
		<script src="//libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script type="text/javascript">
			$("#search").bind('keyup', function(event) {
				event = document.all ? window.event : event;
				if ((event.keyCode || event.which) == 13) {
					Zepto.alert( $(this).val());
					$.ajax({
						type: "post",
						url: "searchUsers",
						dataType: 'json',
						data: {
							"uname": $(this).val(),
						},
						async: true, //设置为同步操作就可以给全局变量赋值成功 
						success: function(data) {
							console.log(data);
						},
						error: function(data) {
							console.error(data);
						}
					});
				}
			});
		</script>
	</body>

</html>